@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f4f4f4;
  color: #111517;
  min-height: 100vh;
}

.color-change {
  background-color: #1f2d36;
  color: white;
}
.color-change header {
  background-color: #455a66;
  color: #f4f4f4;
}
.color-change .country-card:hover {
  background-color: rgb(101, 219, 219);
}

header {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  padding: 1.2rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dark-section:hover {
  background-color: darkorange;
}

#toggle-btn {
  background-color: #ffffff;
  border: #ffffff;
}

#controls {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#search-input {
  flex: 1;
  max-width: 450px;
  padding: 1rem;
  border-radius: 6px;
  border: none;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#region-filter {
  width: 200px;
  padding: 1rem;
  border-radius: 6px;
  border: none;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.country-card {
  background-color: #ffffff;
  border-radius: 5%;
  justify-content: center;
  height: 350px;
}
.country-card:hover {
  background-color: rgb(255, 161, 38);
}
.country-card h3,
p {
  justify-self: center;
  gap: 10px;
  margin: 10px;
  text-decoration: none;
}
.country-card img {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 3%;
}
a {
  text-decoration: none;
  color: #111517;
}

/* 
Mobile Devices */
@media (max-width: 600px) {
  header {
    padding: 1rem;
    width: 100%;
  }

  h1 {
    font-size: 18px;
  }

  #controls {
    flex-direction: column;
    /* align-items: stretch; */
    justify-content: center;
  }

  #search-input,
  #region-filter {
    width: 100%;
    max-width: 100%;
  }

  .grid-container {
    grid-template-columns: 1fr;
    /* background-color: #ffffff; */
  }

  .country-card img {
    height: 200px;
    border-radius: 5%;
  }
}
